<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Techniques</title>
    <link rel="stylesheet" href="{% static 'tech_dashboard/css/tech_dash_main.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
</head>
    <body>
        <table class="nested-table">
            <thead>
                <tr>
                    <th class="tech_name">Technique</th>
                    <th>Position</th>
                    <th>Date vue</th>
                    <th>Date de révision</th>
                    <th class="tech_note">Note</th>
                    <th>Page livre</th>
                    <th>Réf programme</th>
                </tr>
            </thead>

            <tbody>
                {% for belt, uvs in tree.items %}
                <!-- BELT -->
                <tr class="node level-0 belt-{{ belt|slugify }}" data-id="belt-{{ belt|slugify }}">
                    <td>
                        <button class="toggle">▶</button>
                        <strong>{{ belt }}</strong>
                    </td>
                    <td colspan="6">
                        <div class="progress-bar-wrapper">
                            <div class="progress-bar-label">Progression : </div>
                            <div class="progress-bar-background">
                                <div class="progress-bar-value" id="progress-bar-value" data-target="belt-{{ belt|slugify }}"></div>
                            </div>
                        </div>
                    </td>
                </tr>

                    {% for uv, categories in uvs.items %}
                    <!-- UV -->
                    <tr class="node level-1 hidden belt-{{ belt|slugify }}" data-parent="belt-{{ belt|slugify }}" data-id="uv-{{ belt|slugify }}-{{ uv|slugify }}">
                        <td>
                            <button class="toggle">▶</button>
                            {{ uv }}
                        </td>
                        <td colspan="6">
                            <div class="progress-bar-wrapper">
                                <div class="progress-bar-label">Progression : </div>
                                <div class="progress-bar-background">
                                    <div class="progress-bar-value" data-scope="uv" data-target="uv-{{ belt|slugify }}-{{ uv|slugify }}"></div>
                                </div>
                            </div>
                        </td>
                    </tr>

                        {% for category, subcats in categories.items %}
                        <!-- CATEGORY -->
                        <tr class="node level-2 hidden belt-{{ belt|slugify }}"
                            data-parent="uv-{{ belt|slugify }}-{{ uv|slugify }}"
                            data-id="cat-{{ belt|slugify }}-{{ uv|slugify }}-{{ category|slugify }}">
                            <td>
                                <button class="toggle">▶</button>
                                {{ category }}
                            </td>
                            <td colspan="6">
                                <div class="progress-bar-wrapper">
                                    <div class="progress-bar-label">Progression : </div>
                                    <div class="progress-bar-background">
                                        <div class="progress-bar-value" data-scope="cat" data-target="cat-{{ belt|slugify }}-{{ uv|slugify }}-{{ category|slugify }}"></div>
                                    </div>
                                </div>
                            </td>
                        </tr>

                            {% for subcat, techniques in subcats.items %}
                            <!-- SUBCATEGORY -->
                            <tr class="node level-3 hidden belt-{{ belt|slugify }}"
                                data-parent="cat-{{ belt|slugify }}-{{ uv|slugify }}-{{ category|slugify }}"
                                data-id="sub-{{ belt|slugify }}-{{ uv|slugify }}-{{ category|slugify }}-{{ subcat|slugify }}">
                                <td>
                                    <button class="toggle">▶</button>
                                    {{ subcat }}
                                </td>
                                <td colspan="6">
                                    <div class="progress-bar-wrapper">
                                        <div class="progress-bar-label">Progression : </div>
                                        <div class="progress-bar-background">
                                            <div class="progress-bar-value" data-scope="sub" data-target="sub-{{ belt|slugify }}-{{ uv|slugify }}-{{ category|slugify }}-{{ subcat|slugify }}"></div>
                                        </div>
                                    </div>
                                </td>
                            </tr>

                                {% for technique in techniques %}
                                <!-- TECHNIQUE (LEAF) -->
                                <tr class="leaf level-4 hidden belt-{{ belt|slugify }}
                                    {% if technique.viewed_technique %}tech-viewed{% endif %}"
                                    data-parent="sub-{{ belt|slugify }}-{{ uv|slugify }}-{{ category|slugify }}-{{ subcat|slugify }}"
                                    data-path="belt-{{ belt|slugify }}|uv-{{ uv|slugify }}|cat-{{ category|slugify }}|sub-{{ subcat|slugify }}"
                                >
                                    <td class="tech_name">
                                        <div>
                                            <input type="checkbox" id="viewed_tech_checkbox">
                                            {{ technique.technique }}
                                        </div>
                                    </td>
                                    <td class="tech_pos">
                                        {{ technique.position }}
                                    </td>
                                    <td>
                                        {{ technique.viewed_date }}
                                    </td>
                                    <td>
                                        {{ technique.revision_date }}
                                    </td>
                                    <td class="tech_note">
                                        {{ technique.note }}
                                    </td>
                                    <td>
                                        {{ technique.official_book_ref_page }}
                                    </td>
                                    <td>
                                        {{ technique.official_prog_ref_2025 }}
                                    </td>
                                </tr>
                                {% endfor %}
                            {% endfor %}
                        {% endfor %}
                    {% endfor %}
                {% endfor %}
            </tbody>
        </table>

    <script src="{% static 'tech_dashboard/js/tech_dash_main.js' %}"></script>
    </body>
</html>