/* Reset css by default */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Roboto', serif;
}

tr.hidden { display: none; }

tr.node {
    cursor: pointer;
}

/* Technique Dashboard */

/* TABLE */
.nested-table {
    width: 90%;
    border-collapse: collapse;
    margin: 5%;
    border : 1px solid lightgrey;
}

.nested-table th{
    padding: 10px;
    text-align: center;
}

.nested-table td {
    padding: 10px;
    text-align: left;
}

/* Ceinture jaune */
.belt-jaune td {
    background-color: #fff9c4;
}

/* Optionnel : hover */
.belt-jaune:hover td {
    background-color: #fff59d;
}

.nested-table tr {
    border-bottom: 1px solid #eee;
}

.level-0 td { padding-left: 12px; }
.level-1 td { padding-left: 32px; }
.level-2 td { padding-left: 52px; }
.level-3 td { padding-left: 72px; }
.level-4 td:first-child {
    padding-left: 92px;
}

.tech_name{
    min-width: 600px;
}

.tech_name div{
    display: flex;
}

.tech_note{
    min-width: 300px;
}

.toggle {
    border: none;
    background: none;
    cursor: pointer;
    margin-right: 6px;
}

.hidden {
    display: none;
}

.leaf .toggle {
    visibility: hidden;
}

#viewed_tech_checkbox{
    margin-left: -20px;
    margin-right: 20px;
}