/* Reset css by default */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Roboto', serif;
}

/* Header sticky */
.nested-table thead th {
    min-height: 60px;
    height: 60px;
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: #ffffff;
    box-shadow: inset 0 -2px 0 lightgrey;
}

tr.hidden { display: none; }

tr.node {
    cursor: pointer;
}

/* Progress bars */
.progress-bar-wrapper{
    display: flex;
    font-size: 13px;
    align-items : center;
}

.progress-bar-background {
  background: #EAFFDB;
  justify-content: flex-start;
  border-radius: 100px;
  align-items: center;
  position: relative;
  padding: 0 5px;
  display: flex;
  height: 20px;
  width: 100px;
}

.progress-bar-value {
  animation: load 3s normal forwards;
  box-shadow: 0 10px 40px -10px lightgreen;
  border-radius: 100px;
  background: lightgreen;
  height: 15px;
  width: 0;
  text-align: center;
  font-size: 12px;
}

/* Technique Dashboard */

/* TABLE */
.nested-table {
    width: 90%;
    border-collapse: collapse;
    margin: 5%;
    border : 1px solid lightgrey;
}

.nested-table th{
    padding: 10px;
    text-align: center;
}

.nested-table td {
    padding: 10px;
    text-align: left;
}

/* Ceinture jaune */
.belt-jaune td {
    background-color: #fff9c4;
}

/* Optionnel : hover */
.belt-jaune:hover td {
    background-color: #fff59d;
}

.nested-table tr {
    border-bottom: 1px solid #eee;
}

.level-0 td { padding-left: 12px; }
.level-1 td { padding-left: 32px; }
.level-2 td { padding-left: 52px; }
.level-3 td { padding-left: 72px; }
.level-4 td:first-child {
    padding-left: 92px;
}

.tech_name{
    min-width: 600px;
}

.tech_name div{
    display: flex;
}

.tech_note{
    min-width: 300px;
}

.toggle {
    border: none;
    background: none;
    cursor: pointer;
    margin-right: 6px;
}

.hidden {
    display: none;
}

.leaf .toggle {
    visibility: hidden;
}

#viewed_tech_checkbox{
    margin-left: -20px;
    margin-right: 20px;
}